@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root {
    --color-one: hsl(0, 0%, 100%);
    --color-two: hsl(212, 45%, 89%);
    --color-three: hsl(220, 15%, 55%);
    --color-four: hsl(218, 44%, 22%);
    --ff-one: 'Outfit', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 15px;
    font-family: var(--ff-one);
    background-color: var(--color-two);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: var(--color-one);
    max-width: 275px;
    width: 90%;
}
.container {
    border-radius: 15px;
}
.container > p a {
    color: #a52;
    text-decoration: none;
}
.container > p {
    text-align: center;
    margin-bottom: 10px;
    /*display: none;*/
}
.container > p a:hover {
    color: #a52a2a;
    text-decoration: underline wavy darkblue;
    font-weight: 700;
}
.img-con {
    width: 100%;
}
.img-con img {
    max-width: 85%;
    display: block;
    margin: 15px auto 20px;
    border-radius: 10px;
}
h1{
    font-size: 18px;
    text-align: center;
    color: var(--color-four);
    font-weight: 700;
    padding: 0 20px 20px;
}
.text-con p {
    color: var(--color-three);
    text-align: center;
    padding: 0 30px 10px;
    font-size: 13px;
}